$root-block-name: '.mcard';

#{$root-block-name} {
  $p: &;
  $p__label: #{$p}__label;
  padding: 12px;
  margin: 0;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #fff;
  display: flex;
  flex-direction: column;
  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
