@use 'sass:math';

$root-block-name: '.loader';

#{$root-block-name} {
  position: fixed;
  z-index: 99999999;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #017162;
    font-size: 20px;
    font-weight: bold;

    $img-width: 45px;

    %slider {
      $slider-height: 8px;

      height: $slider-height;
      border-radius: math.div($slider-height, 2);
      animation: slide-right 0.7s ease-in-out infinite alternate;
    }

    > * + * {
      margin-top: 12px;
    }

    > *:nth-child(1) {
      @extend %slider;
      margin-left: -30px;
      width: math.div($img-width, 4) * 3;
      background-color: #52bf90;
    }

    > *:nth-child(2) {
      @extend %slider;
      width: $img-width;
      background-color: #dc0005;
      animation-name: slide-right-short;
    }

    > *:nth-child(3) {
      @extend %slider;
      margin-left: -40px;
      width: math.div($img-width, 1.5);
      background-color: #317256;
    }
  }
}

@keyframes slide-right {
  100% {
    transform: translateX(105px);
  }
}

@keyframes slide-right-short {
  100% {
    transform: translateX(30px);
  }
}
