$root-block-name: '.login';

#{$root-block-name} {
  $p: &;
  $p__text: #{$p}__text;
  $p__btn: #{$p}__btn;
  @include flex(center, center);
  height: 100%;

  &__container {
    @include w_h(100%, 100%);
    @include flex(center, null, column);
    padding: 64px;
    flex: 1;
    @include screen(md) {
      padding: 8px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #a53b25;
  }
  &__main {
    @include flex(null, center);
    width: 100%;
    gap: 120px;
    @include screen(md) {
      @include flex(center, null, column);
    }
  }

  &__form {
    width: 100%;
    max-width: 340px;
    @include flex(null, null, column);
    &-inputs {
    }
    #{$p__text} {
      color: #212121;
      text-align: left;
      &--error {
        color: #a53b25;
      }
    }

    &-input {
      @include w_h(100%, 50px);
      padding: 14px 20px;
      border-radius: 8px;
      border: 1px solid #d4d4d4;
      &--error {
        border: 1px solid #a53b25;
      }
    }
  }

  &__forgot {
    @include flex(null, end);
    padding: 16px 24px;
    #{$p__text} {
      color: #e21a1c;

      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.30000001192092896px;
      text-decoration: underline;
    }

    &-input {
      @include w_h(100%, 54px);
    }
  }

  &__btns {
    flex: 1;
    @include flex(end, center);
  }

  &__btn {
    @include flex(center, center);
    @include w_h(100%, 48px);
    border-radius: 90px;
    background: #a53b25;
    color: #fff;

    font-size: 20px;
    text-align: center;

    &--register {
      background: #fff;
      color: #a53b25;
      border: 1px solid #a53b25;
    }
  }

  &__other {
    width: 100%;
    max-width: 365px;
    @include flex(null, null, column);
    &-img {
      width: 100%;
    }

    &-info {
      padding: 24px 12px 24px 36px;
      #{$p__text} {
        font-size: 20px;
        font-weight: 400;
      }
    }

    &-btn {
      @include flex(null, center);
      #{$p__btn} {
        width: 100%;
        max-width: 338px;
      }
    }
  }

  &__divider {
    margin: 12px 0;
    @include w_h(100%, 32px);
    @include flex(center, center);
    position: relative;
    &-line {
      width: 100%;
      max-width: 306px;
      height: 1px;
      background: #7c7c7c;
    }

    &-text {
      @include abs-center;
      color: #949494;
      background-color: #fff;
      padding: 0 24px;
      font-family: Noto Sans TC;
      font-size: 15px;
      font-weight: 500;
      line-height: 21.72px;
    }
  }

  &__auth {
    height: 158px;
    @include flex(null, center, column);
    gap: 20px;
    &-btn {
      @include flex;
      width: 100%;
      max-width: 338px;
      height: 50px;
      background: #fff;
      padding: 18px 45px 18px 45px;
      border-radius: 10px;
      border: 1px solid #aeaeb2;

      &-icon {
        @include flex(center, center);
        width: 24px;
        height: 100%;
      }
      &-text {
        @include flex(center, center);
        flex: 1;
        font-size: 16px;
        font-weight: 600;
        color: #212121;
      }
    }
  }

  &__footer {
    text-align: center;
    margin-top: 1rem;

    p {
      margin-bottom: 0.5rem;
    }
  }
}
