$root-block-name: '.register';

#{$root-block-name} {
  $p: &;
  $p__text: #{$p}__text;
  $p__btn: #{$p}__btn;
  width: 100%;
  position: relative;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 2rem;
  }

  &__content {
    @include w_h(100%, 100%);
    @include flex(center, null, column);
    padding: 64px;
    flex: 1;
    @include screen(md) {
      padding: 32px 8px;
    }
  }
  &__main {
    @include flex(null, center);
    width: 100%;
    min-height: 450px;
    gap: 120px;
    position: relative;
    @include screen(md) {
      @include flex(center, null, column);
      gap: 20px;
    }
  }

  &__form {
    width: 100%;
    max-width: 340px;
    @include flex(null, null, column);
    &-inputs {
      &--addr {
        @include flex(end);
        gap: 24px;
      }
    }
    #{$p__text} {
      min-height: 22px;
      color: #212121;
      @include flex(end);
      &--required {
        &::after {
          content: '*';
          color: #fe4206;
          display: block;
          margin-left: 4px;
        }
      }
      margin-bottom: 4px;
    }

    &-input {
      @include w_h(100%, 50px);
      padding: 14px 20px;
      border-radius: 8px;
      border: 1px solid #d4d4d4;
      &--error {
        border: 1px solid #fe4206;
      }
    }
  }

  &__divider {
    @include abs-center;
    height: 95%;
    width: 1px;
    background: #7c7c7c;
    @include screen(md) {
      display: none;
    }
    &-line {
      width: 100%;
      height: 100%;
      background: #7c7c7c;
    }

    &-text {
      @include abs-center;
      color: #949494;
      background-color: #fee7cc;
      padding: 0 24px;
      font-family: Noto Sans TC;
      font-size: 15px;
      font-weight: 500;
      line-height: 21.72px;
    }
  }

  &__other {
    margin-top: 24px;

    #{$p__text} {
      font-size: 16px;
      font-weight: 400;
    }
    &-btn {
      margin-top: 24px;
      @include flex(null, center);
      #{$p__btn} {
        width: 100%;
        max-width: 338px;
      }
    }
  }

  &__btn {
    @include flex(center, center);
    @include w_h(100%, 48px);
    border-radius: 90px;
    background: #a53b25;
    color: #fff;

    font-size: 20px;
    text-align: center;
  }

  &__text {
    &--error {
      color: #fe4206 !important;
    }
  }

  &__agreeTerms {
    &-text {
      color: #000;
    }
  }
}
