$root-block-name: '.poeDivinationDialog';

#{$root-block-name} {
  $p: &;
  $p__text: #{$p}__text;

  width: 100%;
  @include flex(null, null, column);

  &__header {
    @include w_h(100%, 52px);
    position: relative;
    border-radius: 18px 18px 0 0;
    &-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      #{ $p__text} {
        text-align: center;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 900;
        color: #017162;
      }
    }
  }
  &__close {
    position: absolute;
    top: 50%;
    right: 24px;
    z-index: 9;
    cursor: pointer;
    transform: translateY(-50%);
  }

  &__main {
    flex: 1;
    padding: 12px;
    padding-top: 0;
    @include flex(null, null, column);

    &-content {
      flex: 1;
      @include flex(center, center);
      gap: 12px;
      padding: 0 8px;

      &-icon {
        width: 40px;
        height: 40px;
        background-color: #017162;
        color: #fff;
        border-radius: 50%;
        @include flex(center, center);
      }

      &-msg {
        flex: 1;
        @include flex(center);
        #{$p__text} {
          text-align: center;
          font-size: 14px;
          letter-spacing: 1px;
        }
      }
    }

    &-btns {
      @include flex(center, center);
      gap: 24px;
    }

    &-btn {
      @include flex(center, center);
      width: 70px;
      height: 32px;
      border-radius: 50px;
      border: 2px solid #000;
      background: #fff;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 1.5px;
      &--confirm {
        color: #fff;
        background: #ff0033;
      }
    }
  }
}
